* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Consolas";
}
li {
  list-style: none;
}
button,
input {
  outline: none;
  border: none;
}
button {
  background: transparent;
}

body {
  margin: 0;
  background: #1a1a1a;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #f2f2f2;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
